<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <title>API TIME</title>

        <meta property="og:title" content="API TIME">
        <meta property="og:url" content="https://apitime.xyz">
        <meta property="og:description" content="한국 시간을 실시간으로 표시, API 기능을 지원하는 사이트">

        <link href="https://cdn.discordapp.com/attachments/1145647801267650580/1153324561966845952/505b59fb67bd9d6604bd4f15bd22d1e1.png" rel="icon">

        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <div class="clock">
            <p id="date"></p>
            <p id="time"></p>
        </div>
    
        <footer id="footer">
            <div class="container">
                <div class="copyright">
                    © Copyright <strong><a style="color: rgb(0, 0, 0);", href="https://github.com/Luriel0228/">Luriel_</a></strong>. All Rights Reserved
                </div>
            </div>
        </footer>
    
        <script src="/time.js"></script>
    </body>
</html>
